* {
  font-family: "Nanum Gothic", "Dotum", "sans-serif";
}

.header {
  width: 100%;
  height: 120px;
  background-color: #000;
}
h1 {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  line-height: 120px;
  vertical-align: middle;
  padding-left: 40px;
  margin: 0 auto;
}

.menus {
  width: 1080px;
  height: 75px;
  padding: 40px 40px 0 40px;
  margin: 0 auto;
}
.menu_name {
  display: inline-block;
  text-decoration: none;
  width: 344px;
  height: 33px;
  line-height: 33px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #d1d1d1;
  font-size: 16px;
  color: #000;
}
.menu_name:nth-child(2) {
  margin-left: 14px;
  margin-right: 14px;
}
.menu_name:hover {
  border-color: #454545;
  font-weight: bold;
}

.section {
  border-bottom: 1px solid #d1d1d1;
  padding: 0 40px 40px;
}
.sub_title {
  width: 100%;
  margin: 0 auto;
}
.sub_title h2 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  line-height: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #454545;
}
.component {
  width: 100%;
  padding: 15px 0px;
}

.title_name {
  font-size: 16px;
  font-weight: bold;
  height: 46px;
  line-height: 46px;
  vertical-align: middle;
  color: #333;
  border: 1px solid #d1d1d1;
  background-color: #f7f7f7;
  padding-left: 15px;
  width: 100%;
  float: left;
  box-sizing: border-box;
}

.content_area {
  margin-top: 61px;
  color: #000;
  border: 1px solid #d1d1d1;
  border-top: none;
  padding: 30px;
}

.content_area_title {
  font-size: 12px;
  line-height: 12px;
  color: #000;
  font-weight: bold;
}

.footer {
  font-size: 12px;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.footer address {
  font-style: normal;
  color: #999;
}
.footer p {
  color: #000;
}
